:root {
    --backgroundcolor: #d9dcd6;
    --alttextcolor: #ffffff;
    --primarycolor: #0072bb;
    --secondarycolor: #2589bd;
    --tertiarycolor: #2a607c;
    --shadows: rgb(80, 80, 80);
}

* {
    user-select: none;
    touch-action: none;
    overflow: hidden;
}


.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.active {
    background-color: green;
}

.inactive {
    background-color: whitesmoke;
}


.backgroundGradient {
    display: flex;
    background-image: radial-gradient(500px 200px at top, rgb(42, 42, 173), rgb(16, 11, 83), rgb(20, 6, 39));
    height: 100vh;
    width: 100%;
}

.welcomeBackground {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    top:-60px;
    right:0px;
    bottom:-60px;
    left:0px;
}

.wbTop {
    display: flex;
}

.wbBottom {
    display: flex;
}

.welcomeBackground card {
    width: 10%;
    margin: 0 1% 0 1%;
    height: 25vh;
    opacity: .2;
    border-radius: 40px;
    background-color: black;
    transition: opacity 1s, height 2s, width 2s;
}

.welcomeBackground card:hover {
    width: 12%;
    height: 30vh;
    opacity: 1;
}

.displayWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeCards {
    display: flex;
}
img {
    max-width: 40%;
    height: auto;
    border: 10px;
    border-color: purple;
    border-radius: 10%;
    text-align: center;
}
h1 {
    font-size: 90px;
    background: -webkit-linear-gradient(50deg, #8A2387, #E94057, #F27121);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

h2 {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}

form {
    min-width: 260px;
    min-height: 260px;
    max-width: 260px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.welcomeCardIntro {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    min-width: 260px;
}

.inputBoxes {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    box-shadow:  inset 2px 2px 5px var(--shadows), inset -5px -5px 10px white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(248, 248, 248);
    text-shadow: 1px 1px 0 white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

input[type="text"]:focus {
    box-shadow:  inset 1px 1px 2px var(--shadows), inset -1px -1px 2px white;
    background-color: white;
}

#inputError {
    visibility: hidden;
}

.dietaryRestrictions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
input[type="checkbox"] { 
    appearance:none;
    outline:none;
    overflow:hidden;
    border-radius:15px;
    height:30px;
    width:100px;
    margin:4px;
    background-color: white;
    transition:background-color 1s;
    box-shadow:  inset 2px 2px 5px var(--shadows), inset -5px -5px 10px white;
} 
   
input:checked{
    background-color: white;
    transition:background-color .3s; 
} 
    
input::before{ 
    display:block;
    position:relative;
    height:21px;
    width:21px;
    border-radius:15px;
    margin:4px;
    background-color:red;
    content:'';
    transition:width .5s;
    box-shadow: 2px 2px rgb(187, 187, 187);
}  
  
input:checked::before {
    background-color:green;
    width:92px;
    transition:width .5s;
    content:'';
    overflow:hidden; 
}

.welcomeCardButtons button {
    width: 90px;
    height: 45px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: gray;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    border-width: 3px;
}

.mealTypes button {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 15px;
    border-width: 4px;
    border-color:gray;
    font-family: 'Acme', sans-serif;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

figure {
    padding: 200px 50px;
}

footer {
    display: flex;
    justify-content: center;
}

.recipeBlock card {
    display: flex;
    margin: 20px;
    width: 75vw;
    height: 90vh;
    text-align: center;
    background-image: url("../images/Fresh-Food-Placeholder.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 3px solid white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Screen Resizing Effects

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* make header and footer hidden for drag effects to reveal */
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    /* make footer hidden for drag effects */
    h2 {
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    .displaySetup {
        display: flex;
    }

    .displayRestrictions {
        display: none;
    }

    .mealTypes {
        display: none;
    }

    #setupSubmit {
        display: none;
    }

    #setupNext {
        display: inline-block;
    }

}

/* Large devices (laptops/desktops, 993px and up) */
@media only screen and (min-width: 993px) {
    /* more info always displayed */

    #setupNext {
        display: none;
    }
}



