* {
    user-select: none;
    touch-action: none;
}

.backgroundGradient {
    display: flex;
    background-image: linear-gradient( #9a8478, 15%, #1e130c);
    height: 100vh;
    width: 100%;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.active {
    background-color: blue;
}

.inactive {
    background-color: yellow;
}

h1 {
    font-size: 150px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    padding: 200px 50px;
}

footer {
    display: flex;
    justify-content: center;
}

card {
    display: flex;
    margin: 20px;
    width: 75%;
    height: 90vh;
    text-align: center;
    background-image: url("../images/Fresh-Food-Placeholder.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 3px solid white;
    flex-direction: column;
    justify-content: space-between;
}


/* Screen Resizing Effects

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* make header and footer hidden for drag effects to reveal */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* make footer hidden for drag effects */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* default */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* more info always displayed */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* more info always displayed and show side bars */
}



